.section {
  max-width: 121.5rem;
  margin: 2rem auto 12rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #ebd7cf;
  border-radius: 0.9rem;
  padding: 2rem;
}

.headline {
  font-size: 3.2rem;
  font-weight: 600;
}

.subHeadline {
  font-size: 2rem;
}

.input {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.email {
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  border: none;
}

.btn {
  background-color: var(--color-brand-1);
  color: #fff;
  border-radius: 1.2rem;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
}
